<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="ICT Cortex Library - project for high school students..." />
    <meta name="keywords" content="ict cortex, cortex, bild, bildstudio, highschool, students, coding" />
    <meta name="author" content="bildstudio" />
    <!-- End Meta -->

    <!-- Title -->
    <title>New book | Library - ICT Cortex student project</title>
    <link rel="shortcut icon" href="img/library-favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- End Title -->

    <!-- Styles -->
    <%- include('../includes/layout/styles') %>
    <!-- End Styles -->
    <style>
        .form-columns {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .form-column {
          width: 30%;
        }
        .form-row {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      </style>
    
</head>

<body class="overflow-hidden small:bg-gradient-to-r small:from-green-400 small:to-blue-500">
    <!-- Header -->
    <%- include('../includes/layout/header') %>
    <!-- Header -->

    <!-- Main content -->
    <main class="flex flex-row small:hidden">
        <!-- Sidebar -->
        <%- include('../includes/layout/sidebar') %>
        <!-- End Sidebar -->

        <!-- Content -->
        <section class="w-screen h-screen pl-[80px] pb-4 text-gray-700">
            <!-- Heading of content -->
            <div class="heading">
                <div class="flex border-b-[1px] border-[#e4dfdf]">
                    <div class="pl-[30px] py-[10px] flex flex-col">
                        <div>
                            <h1>
                                Nova knjiga
                            </h1>
                        </div>
                        <div>
                            <nav class="w-full rounded">
                                <ol class="flex list-reset">
                                    <li>
                                        <a href="/books" class="text-[#2196f3] hover:text-blue-600">
                                            Evidencija knjiga
                                        </a>
                                    </li>
                                    <li>
                                        <span class="mx-2">/</span>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#2196f3] hover:text-blue-600">
                                            Nova knjiga
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 text-gray-500 border-b-[1px] border-[#e4dfdf] pl-[30px]">
                <a href="#" class="inline active-book-nav hover:text-blue-800">
                    Osnovni detalji
                </a>
                <a href="novaKnjigaSpecifikacija.ejs" class="inline ml-[70px] hover:text-blue-800 ">
                    Specifikacija
                </a>
                <a href="novaKnjigaMultimedija.ejs" class="inline ml-[70px] hover:text-blue-800">
                    Multimedija
                </a>
            </div>
            <!-- Space for content -->
            <div class="scroll height-content section-content">
            
                <form method="POST" action="/add-book" class="text-gray-700 forma">
                    <div class="form-columns">
                      <div class="form-column">
                        <div class="form-row">
                          <p>Naziv knjige <span class="text-red-500">*</span></p>
                          <input type="text" name="title" id="title" required style="border: 1px solid black;">
                        </div>
                        <div class="form-row">
                          <p>Autor <span class="text-red-500">*</span></p>
                          <select name="authorId" id="authorId" required style="border: 1px solid black;">
                            <option value="">Odaberite autora</option>
                            <% authors.forEach(author => { %>
                              <option value="<%= author.id %>"><%= author.nameSurname %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="form-row">
                          <p>Broj stranica <span class="text-red-500">*</span></p>
                          <input type="number" name="page_count" id="page_count" required style="border: 1px solid black;">
                        </div>
                        <div class="form-row">
                          <p>Slovo <span class="text-red-500">*</span></p>
                          <select name="letterId" id="letterId" required style="border: 1px solid black;">
                            <option value="">Odaberite slovo</option>
                            <% slovo.forEach(slovo => { %>
                              <option value="<%= slovo.id %>"><%= slovo.name %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="form-row">
                          <p>Jezik <span class="text-red-500">*</span></p>
                          <select name="languageId" id="langageId" required style="border: 1px solid black;">
                            <option value="">Odaberite jezik</option>
                            <% jezik.forEach(jezik => { %>
                              <option value="<%= jezik.id %>"><%= jezik.name %></option>
                            <% }) %>
                          </select>
                          
                        </div>
                      </div>
                      <div class="form-column">
                        <div class="form-row">
                          <p>Povez <span class="text-red-500">*</span></p>
                          <select name="bindingId" id="bindingId" required style="border: 1px solid black;">
                            <option value="">Odaberite povez</option>
                            <% povez.forEach(povez => { %>
                              <option value="<%= povez.id %>"><%= povez.name %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="form-row">
                          <p>Format <span class="text-red-500">*</span></p>
                          <select name="formatId" id="formatId" required style="border: 1px solid black;">
                            <option value="">Odaberite format</option>
                            <% format.forEach(format => { %>
                              <option value="<%= format.id %>"><%= format.name %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="form-row">
                          <p>Izdavač <span class="text-red-500">*</span></p>
                          <select name="publisherId" id="publisherId" required style="border: 1px solid black;">
                            <option value="">Odaberite izdavača</option>
                            <% publishers.forEach(publisher => { %>
                              <option value="<%= publisher.id %>"><%= publisher.name %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="form-row">
                          <p>ISBN <span class="text-red-500">*</span></p>
                          <input type="text" name="isbn" id="isbn" required style="border: 1px solid black;">
                        </div>
                        <div class="form-row">
                          <p>Količina <span class="text-red-500">*</span></p>
                          <input type="number" name="quantity_count" id="quantity_count" required style="border: 1px solid black;">
                        </div>
                      </div>
                      <div class="form-column">
                        <div class="form-row">
                          <p>Broj iznajmljenih <span class="text-red-500">*</span></p>
                          <input type="number" name="rented_count" id="rented_count" required style="border: 1px solid black;">
                        </div>
                        <div class="form-row">
                          <p>Broj rezervisanih <span class="text-red-500">*</span></p>
                          <input type="number" name="reserved_count" id="reserved_count" required style="border: 1px solid black;">
                        </div>
                        <div class="form-row">
                          <p>Opis <span class="text-red-500">*</span></p>
                          <textarea name="body" id="body" required style="border: 1px solid black;"></textarea>
                        </div>
                        <div class="form-row">
                          <p>Godina izdavanja <span class="text-red-500">*</span></p>
                          <select name="year" id="year" required style="border: 1px solid black;">
                            <option value="">Odaberite godinu</option>
                            <% for (let i = 1900; i <= new Date().getFullYear(); i++) { %>
                              <option value="<%= i %>"><%= i %></option>
                            <% } %>
                          </select>
                        </div>
                        <div class="form-row">
                            <p>PDF <span class="text-red-500">*</span></p>
                            <input type="file" name="pdf" id="pdf" required style="border: 1px solid black;">
                          </div>
                          <div class="form-row">
                            <p>Fotografija autora</p>
                            <input type="file" name="authorPhoto" id="authorPhoto" style="border: 1px solid black;">
                          </div>
                        <div class="form-row">
                          <p>Biografija autora</p>
                          <textarea name="authorBio" id="authorBio" style="border: 1px solid black;height: 200%;"></textarea>
                        </div>
                        <div class="form-row">
                          <p>Wikipedia link autora</p>
                          <input type="text" name="authorWiki" id="authorWiki" style="border: 1px solid black;">
                        </div>
                        <div class="flex justify-end">
                            <div class="inline-block w-full text-white text-right py-[7px] mr-[100px]">
                                <button type="button"
                                    class="btn-animation shadow-lg mr-[15px] w-[150px] focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in bg-[#F44336] hover:bg-[#F55549] rounded-[5px]">
                                    Ponisti <i class="fas fa-times ml-[4px]"></i>
                                </button>
                                <button id="sacuvajKnjigu" type="submit"
                                    class="btn-animation shadow-lg w-[150px] disabled:opacity-50 focus:outline-none text-sm py-2.5 px-5 transition duration-300 ease-in rounded-[5px] hover:bg-[#46A149] bg-[#4CAF50]"
                                    onclick="validacijaKnjiga()">
                                    Sacuvaj <i class="fas fa-check ml-[4px]"></i>
                                </button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </form>
            </div>
        </section>
        <!-- End Content -->
    </main>
    <!-- End Main content -->

    <!-- Notification for small devices -->
    <%- include('../includes/layout/inProgress') %>


    <!-- Scripts -->
    <%- include('../includes/layout/scripts') %>
    <!-- End Scripts -->

    <script>
    CKEDITOR.replace('kratki_sadrzaj', {
        width: "90%",
        height: "150px"
    });
    </script>
</body>

</html>