<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="ICT Cortex Library - project for high school students..." />
    <meta name="keywords" content="ict cortex, cortex, bild, bildstudio, highschool, students, coding" />
    <meta name="author" content="bildstudio" />




    <script src="/scripts/tabs.js"></script>



    <title>New book | Library - ICT Cortex student project</title>
    <link rel="shortcut icon" href="/img/library-favicon.ico" type="image/vnd.microsoft.icon" />


    <!-- Styles -->
    <%- include('../includes/layout/styles') %>
    <style>
/* Style the tab buttons */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

/* Hide tab content by default */
.tabcontent {
  display: none;

}

/* Show the specific tab content */
.tabcontent.active {
  display: block;
  max-height: 600px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style for form fields */
.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.custom-style {
  background-color: lightgreen; 
  font-weight: bold; 
}

.custom-button {
    background-color: #8BC34A; /*
    color: white; /* Text color */
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-left: 10px;
    margin-top: 10px;
}

.custom-button:hover {
    background-color: #7CB342; /* Darker green color on hover */
}
    </style>
        <!-- End Styles -->
</head>

<body class="overflow-hidden small:bg-gradient-to-r small:from-green-400 small:to-blue-500">
    <!-- Header -->
    <%- include('../includes/layout/header') %>
        <!-- Header -->

        <!-- Main content -->
        <main class="flex flex-row small:hidden">
            <!-- Sidebar -->
            <%- include('../includes/layout/sidebar') %>
                <!-- End Sidebar -->
      
                <!-- Content -->
                <section class="w-screen h-screen pl-[80px] pb-4 text-gray-700">
                    <!-- Heading of content -->
                    <div class="heading">
                        <div class="flex border-b-[1px] border-[#e4dfdf]">
                            <div class="pl-[30px] py-[10px] flex flex-col">
                                <div>
                                    <h1>
                                        Nova knjiga
                                    </h1>
                                </div>
                                <div>
                                    <nav class="w-full rounded">
                                        <ol class="flex list-reset">
                                            <li>
                                                <a href="/evidencijaKnjiga" class="text-[#2196f3] hover:text-blue-600">
                                                    Evidencija knjiga
                                                </a>
                                            </li>
                                            <li>
                                                <span class="mx-2">/</span>
                                            </li>
                                            <li>
                                                <a href="/#" class="text-[#2196f3] hover:text-blue-600">
                                                    Nova knjiga
                                                </a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="scroll height-content section-content" style="overflow-y: auto; max-height: 500px;">
                        <div class="row">
                            <div class="column">
                              <h2>Unos nove knjige:</h2>
                     <form method="POST" action="/books" class="grid grid-cols-1 gap-8">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div>
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title" required  class="flex w-[45%] mt-2 px-2 py-2 text-base border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf] custom-style">
                        </div>
                        <div>
                            <label for="page_count">Broj stranica:</label>
                            <input type="number" name="page_count" id="page_count" required class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                
                        <div>
                            <label for="body">Opste:</label>
                            <textarea class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]" name="body" id="body" rows="5" cols="40"></textarea>
                        </div>
                
                        <div>
                            <label for="pdf">PDF:</label>
                            <input type="file" name="pdf" id="pdf" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                        <div>
                            <label for="letterId">Pismo:</label>
                            <select name="letterId" id="letterId" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                              <% letters.forEach(letter => { %>
                                <option value="<%= letter.id %>"><%= letter.name %></option>
                              <% }); %>
                            </select>
                          </div>
                          <div>
                            <label for="languageId">Jezik:</label>
                            <select name="languageId" id="languageId" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                              <% languages.forEach(language => { %>
                                <option value="<%= language.id %>"><%= language.name %></option>
                              <% }); %>
                            </select>
                          </div>
                          
                          <div>
                            <label for="bindingId">Povez :</label>
                            <select name="bindingId" id="bindingId" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                              <% bindings.forEach(binding => { %>
                                <option value="<%= binding.id %>"><%= binding.name %></option>
                              <% }); %>
                            </select>
                          </div>
                          
                          <div>
                            <label for="formatId">Format:</label>
                            <select name="formatId" id="formatId" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                              <% formats.forEach(format => { %>
                                <option value="<%= format.id %>"><%= format.name %></option>
                              <% }); %>
                            </select>
                          </div>
                          
                          <div>
                            <label for="publisherId">Izdavac:</label>
                            <select name="publisherId" id="publisherId" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                              <% publishers.forEach(publisher => { %>
                                <option value="<%= publisher.id %>"><%= publisher.name %></option>
                              <% }); %>
                            </select>
                          </div>
                          
                        <div>
                            <label for="isbn">ISBN:</label>
                            <input type="text" name="isbn" id="isbn" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                        <div>
                            <label for="quantity_count">Kolicina:</label>
                            <input type="number" name="quantity_count" id="quantity_count" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                    </div>
                    <div class="column">
                 <div>
                        <div>
                            <label for="rented_count">Kolicina izdatih:</label>
                            <input type="number" name="rented_count" id="rented_count" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                        <div>
                            <label for="reserved_count">Kolicina rezervisanih:</label>
                            <input type="number" name="reserved_count" id="reserved_count" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                        <div>
                            <label for="body">Sazetak:</label>
            </div>
                            <textarea name="body" id="body" rows="5" cols="40"  class="flex w-[85%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"></textarea>
                        </div>
                        <div>
                            <label for="year">Godina izdavanja:</label>
                            <input type="number" name="year" id="year" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                        </div>
                
                        <div>
                            <label for="photo">Slika:</label>
                            <input type="file" name="photo" id="photo" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                            <span id="selectedFileName"></span> <!-- Display selected file name here -->
                          </div>
                          <div>
                            <label for="biography">Biografija:</label>
                            <textarea name="authorBio" id="authorBio" rows="5" cols="40" class="flex w-[45%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]"></textarea>
                          </div>
                          <div>
                            <label for="wikipedia">Wikipedia:</label>
                            <input type="text" name="authorWiki" id="authorWiki" class="flex w-[40%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                          </div>
                          <label for="authorId">Autor Ime i prezime:</label>
                          <select name="authorName" id="authorName" class="flex w-[40%] mt-2 px-2 py-2 text-base bg-white border border-gray-300 shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-[#576cdf]">
                            <% authors.forEach(author => { %>
                              <option value="<%= author.id %>"><%= author.nameSurname %></option>
                            <% }); %>
                          </select>
                              </div>
                  
                </div>
            </div>
                
                        <!-- Add submit button -->
                        <button type="submit" class="custom-button">
                            Sačuvaj &#x1F44D;
                        </button>
                        <button type="button" class="custom-button clear-button">
                            Obriši sve polja &#x1F5D1;
                        </button>
                    </form>
                </div>
       
                    
                </section>
                <!-- End Content -->
        </main>
        <!-- End Main content -->

        <!-- Notification for small devices -->
        <%- include('../includes/layout/inProgress') %>


            <!-- Scripts -->
            <%- include('../includes/layout/scripts') %>  
         <!--     <script type="text/javascript" src="/scripts/ckeditor.js"></script> -->
                <!-- End Scripts -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                      if (typeof CKEDITOR !== 'undefined') {
                        CKEDITOR.replace('kratki_sadrzaj', {
                          width: "90%",
                          height: "150px"
                        });
                      } else {
                        console.log('CKEditor script not loaded or defined.');
                      }
                    });
                    
                  </script>
                  
                  <script>
                   function submitForm() {
    const title = document.getElementById('nazivKnjiga').value;
    const body = document.querySelector('textarea[name="body"]').value;
    const selectedCategory = document.getElementById('kategorija').value;
    const selectedCategories = Array.from(document.getElementById('kategorijaInput').value.split(','));

    // knjigaOsnovno...

    const dataFromOsnovno = {
        title: title,
        body: body,
        selectedCategory: selectedCategory,
        selectedCategories: selectedCategories,
       
    };


    console.log(dataFromOsnovno);


    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'dataFromOsnovno';
    hiddenInput.value = JSON.stringify(dataFromOsnovno);
    document.querySelector('.text-gray-700.forma').appendChild(hiddenInput);

    // submit formu
    document.querySelector('.text-gray-700.forma').submit();
}

                </script>

                <script>
document.addEventListener('DOMContentLoaded', () => {
  const authorBioInput = document.getElementById('authorBio');
  const authorWikiInput = document.getElementById('authorWiki');
  const authorSelect = document.getElementById('authorName');

  authorSelect.addEventListener('change', (event) => {
    const selectedAuthorId = event.target.value; 

    fetch(`/books/${selectedAuthorId}/details`) 
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(authorData => {

        authorBioInput.value = authorData.biography || '';
        authorWikiInput.value = authorData.wikipedia || '';
      })
      .catch(error => {
        console.error('There was a problem fetching author details:', error);
      });
  });
});

                </script>
</body>

</html>